@font-face {
    font-family: 'Bebas Neue Pro';
    src: url('../fonts/BebasNeueProRegular.otf') format('opentype');
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueRegular.ttf') format('truetype');
}