@import "fonts.scss";
@import "variables.scss";

$gradientFilters: 
(
    linear-gradient(0deg, rgba(8, 174, 234, 0.3) 0%, rgba(42, 245, 154, 0.3) 100%),
    linear-gradient(147deg, rgba(255, 229, 59, 0.3) 0%, rgba(255, 37, 37, 0.3) 74%),
    radial-gradient( circle 297px at -2% -18.6%,  rgba(109,206,135,0.3) 0%, rgba(252,249,81,0.3) 62.7%, rgba(249,150,133,0.3) 90% ),
    linear-gradient( 112.5deg,  rgba(95,10,135,0.3) 11.4%, rgba(164,80,139,0.3) 60.2% ),
    linear-gradient(120deg, #84faaf3f 0%, #8fd3f43f 100%),
    linear-gradient(to top, #30cfd03f 0%, #3308673f 100%)
);

.home {
    width:100%;
    height:100%;

    .homepage-container {
        width:calc(100% - 30px);
        height:900px;
        padding: 0 15px;
        margin-bottom:30px;

        .intro {
            display: grid;
            grid-template-rows: 1fr .2fr;

            .text{
                grid-row: 1/2;
                display:flex;
                align-items: center;
                justify-content: center;

                span {
                    padding: 5px 10px 5px 10px;
                    background-color:rgba(0, 0, 0, 0.473);
                    color:white;
                    text-align:center;
                    font-size: 17px;
                }
            }
            
            .separator-line {
                grid-row: 2/3;
                position: relative;
                left:calc(50% - 50px);
                top:15px;
                height:1px;
                width:100px;
                background-color:white;
            }
        }

        h2 {
            color:white;
            font-family: $menu-font;
            font-size:2.5rem;
        }
        
        @for $i from 1 through length($gradientFilters) {
            @debug "idx: #{$i}";
            .block-container:nth-child(#{length($gradientFilters)}n + #{$i}) {
                .title-container {
                    background: rgba(0, 0, 0, 0.1);
                    background: nth($gradientFilters, $i);
                }
            }
        }

        .block-container {
            width:100%;
            height:100%;
            background-color:white;
            text-decoration: none;

            .img { 
                cursor: pointer;
                height:100%;
                width:100%;

                .title-container {
                    height:100%;
                    width:100%;
                    display:flex;
                    align-items: center;

                    .title {
                        width:100%;
                        padding:0 15px;
                        line-height: 100%;
                        vertical-align: middle;
                        text-align: center;
                        font-size:4rem;
                        color: white;
                        text-shadow:1px 1px 10px rgb(0, 0, 0), 1px 1px 10px rgb(34, 34, 34);
                        font-family: $title-font;
                        user-select: none;
                    }
                }
            }

            .img:hover{
                .title-container {
                    background: rgba(0, 0, 0, 0.6);
                    transition: background-color .3s;
                }

                .title {
                    transition: all .2s;
                }
            }
        }
    }

    // wide screen + tablet
    @media screen and (min-width: 600px) {
        .homepage-container {
            display: grid;
            grid-template-columns: 0.9fr .1fr repeat(10, minmax(10px, 10em)) .1fr 0.9fr;
            grid-template-rows: .3fr .2fr 1fr 1fr;

            .intro {
                grid-column: 2/14;
                grid-row: 1/2;
            }
            h2 {
                grid-column: 2/14;
                grid-row: 2/3;
            }
            .block-1 {
                grid-column: 3/7;
                grid-row: 3/4;
            }
            .block-2 {
                grid-column: 7/10;
                grid-row: 3/4;
            }
            .block-3 {
                grid-column: 10/14;
                grid-row: 3/4;
            }
            .block-4 {
                grid-column: 3/6;
                grid-row: 4/5;
            }
            .block-5 {
                grid-column: 6/9;
                grid-row: 4/5;
            }
            .block-6 {
                grid-column: 9/14;
                grid-row: 4/5;
            }
        }
    }
    
    // Mobile
    @media screen and (max-width: 600px) {
        .homepage-container {
            display: grid;
            height:auto;
            grid-template-columns: 1fr 6fr 1fr;
            grid-template-rows: repeat(auto-fit 100px);
            row-gap: 15px;

            .intro {
                grid-column: 2/3;
                grid-row: 1/2;
            }
            h2 {
                grid-column: 2/3;
                grid-row: 2/3;
            }
            .block-container {
                grid-column: 2/3;
                text-align: center;
                .title {
                    margin: 15px 0 15px 0;
                }
            }
        }
    }
}